@model TaskManager.Models.Team
<div style="width: 300px; margin: 0 auto; top: 50%; left: 50%;">
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Teams"))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        <h3 style="text-align: center">Nume Echipa</h3>
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Name, "Numele este obligatoriu", new
        {
            @class = "text-danger "
        })
        <br />
        <button class="button6" style="background-color:#24ebae; left: 20%" type="submit"> Editeaza Echipa </button>
    }
</div>