
<h2>Lista Echipe</h2>

<h3 class="danger"> @ViewBag.Message </h3>

<div>
    @foreach (TaskManager.Models.Team team in ViewBag.Teams)
    {
        @Html.Partial("TeamInfo", team)
    }
</div>
<br />
<a class="button6" style="background-color:#24ebae" href="/Teams/New/">Adauga echipa</a>
