@model TaskManager.Models.Team
@using (Html.BeginForm(actionName: "New", controllerName: "Teams"))
{ 
    @Html.Label("Name", "Nume Echipa")
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Name, "Numele este obligatoriu", new
    {
        @class = "text-danger "
    })

    <button class="btn-success" type="submit"> Adauga Echipa </button>
}