

<form method="post" action="/Teams/NewUser/@ViewBag.Id">
    <br />
    <h3>Mailul</h3>
    <input style="margin:15px 0;"type="email" name="Email">
    <br />
    <button class="button6" style="background-color: #24ebae;"> Adauga Membru </button>
</form>


