

<form method="post" action="/Teams/NewUser/@ViewBag.Id">
    <label for="Email">Mailul</label><br>
    <input type="email" name="Email"><br>
    <button class="btn-success" type="submit"> Adauga Membru </button>
</form>


