<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <br />
    @foreach (TaskManager.Models.Project project in ViewBag.Projects)
    {
        @Html.Partial("ProjectInfo", project)
    }

    <a class="btn btn-success pull-left"
       href="/Teams/Edit/@Model.id_team">Modifica echipa</a>
    <br />
    <form method="post" action="/Teams/Delete/@Model.id_team">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">
            Sterge Echipa
        </button>
    </form>
</div>