
<div class="card border-secondary mb-3" style="margin: 10px;
        display: inline-block;
        max-width: 30rem;
        height: 10rem;
        border-radius:15px;
        border: 2px solid #2C3A47;
        width:200%;
        overflow: auto">
    <div class="card-body" style="padding-top:5px; padding-left:20px">
        <h4 class="card-title">@Model.Name</h4>
        <a class="card-link" href="/Teams/Show/@Model.id_team">Afisare echipa</a>
        <a class="card-link" href="/Teams/Edit/@Model.id_team">Editeaza echipa</a>

        <form class="card-text" style="position: absolute; right: 0; bottom: 0; padding: 0 10px 10px 0" method="post" action="/Teams/Delete/@Model.id_team">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="button6" type="submit">
                Sterge Echipa
            </button>

        </form>
    </div>
</div>