
<h2>Lista Proiecte</h2>

<h3 class="danger">@ViewBag.Message</h3>

@foreach (TaskManager.Models.Project project in ViewBag.Projects)
{
    @Html.Partial("ProjectInfo", project)
}
<br />
<a class="btn btn-success btn-sm" href="/Projects/New/">Adauga Proiect</a>