<br />
<h1>Lista Proiecte</h1>

@if (ViewBag.message != null)
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style=" opacity: 100%">
        <div class="toast-header">
            <strong class="mr-auto">Task Manager</strong>
            <small>1 sec ago</small>

        </div>
        <div class="toast-body">
            @ViewBag.message
        </div>
    </div>
}

@foreach (TaskManager.Models.Project project in ViewBag.Projects)
{
    @Html.Partial("ProjectInfo", project)
}
<br />
<a class="btn btn-success btn-sm" href="/Projects/New/">Adauga Proiect</a>