body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    background-color: #2C3A47;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #CAD3C8;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
   color: #f2f1f1
}

.jumbotron {
    background-color: #f2f1f1;
}